*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  position: relative;
  padding: 133px 30px;
  display: grid;
  grid-template-columns: 1fr 399px;
  grid-gap: 30px;
  background-color: #1b1919;
}

.result {
  padding-block-start: 78px;
  display: grid;
  gap: 0px;
}

.result__video-container {
  block-size: 386px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.search-form__pseudo-checkbox:active {
  background: #fff;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0;
  padding-block-start: 11px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-block-end: 5px;
}

.search-form__label {
  inline-size: fit-content;
}

.search-form__label-text:hover {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  cursor: pointer;
}

input[type="checkbox"]:checked + span {
  background: #fff;
  border: 3px double #000;
}

.button:focus {
  border: 3px solid #fff;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  align-self: flex-end;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button:active {
  background-color: #545050;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__textfield {
  inline-size: 225px;
  block-size: 27px;
  background-color: transparent;
  border: 0;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding-block-end: 5px;
}

.content__details {
  display: grid;
  grid-template-rows: 208px 1fr;
  align-items: flex-start;
  gap: 30px;
  overflow: hidden;
}

.title {
  color: inherit;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: inherit;
}

.content__list {
  display: flex;
  block-size: 298px;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  overflow: hidden scroll;
}

::-webkit-scrollbar {
  display: none;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:active {
  background-color: inherit;
}

.content__list-item:focus {
  border: 3px solid #fff;
}

.content__card-link {
  text-decoration: none;
  display: block;
}

.content__card-link_current {
  background-color: #545050;
  border: 1px solid #545050;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  inline-size: 200px;
  block-size: 101px;
}

.content__video-card-title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-block-end: 6px;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 399px;
  block-size: 34px;
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: flex-end;
  background-color: transparent;
}
